APScheduler
backports.zoneinfo
beautifulsoup4
certifi
cffi
charset-normalizer
click
clr-loader
cycler
Flask==2.1.2
fonttools
gunicorn==20.1.0
idna
importlib-metadata
itsdangerous
Jinja2==3.1.2
kiwisolver
MarkupSafe
matplotlib==3.5.2
mplfinance==0.12.9b1
numpy
packaging
pandas
Pillow
pycparser
pyparsing
python-dateutil
pythonnet
pyti
pytz
pytz-deprecation-shim
requests
six
soupsieve==2.3.2.post1
TA-Lib==0.4.25 --no-binary :all:
typing_extensions
tzdata
tzlocal
urllib3
Werkzeug==2.1.2
zipp
