APScheduler
backports.zoneinfo
beautifulsoup4
certifi
cffi
charset-normalizer
click
clr-loader
cycler
Flask
fonttools
gunicorn
idna
importlib-metadata
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
mplfinance
numpy
packaging
pandas
Pillow
pycparser
pyparsing
python-dateutil
pythonnet
pyti
pytz
pytz-deprecation-shim
requests
six
soupsieve
TA-Lib --no-binary :all:
typing_extensions
tzdata
tzlocal
urllib3
Werkzeug
zipp
