<!DOCTYPE html>
{% extends 'base.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Technical Analysis Toolbox</title>
</head>
<body>

{% block content %}
    <h2 align="center"> Welcome to Cryp-TA Sentinel </h2>

    <marquee>
        <table>
            <tr>
            {% for data in marquee_data %}
                <td>
                {{ data['id'].capitalize() }} <b>({{ data['symbol'].upper() }})</b> <img src="{{ data['image'] }}" alt="{{ marquee_data[0]['symbol'] }}" width=8% height=8% />
                </td>
            {% endfor %}
            </tr>
            <tr>

            </tr>
            <tr>
            {% for data in marquee_data %}
                <td>
                    <b>C :</b> ${{ data['current_price'] }}
                </td>
            {% endfor %}
            </tr>
            <tr>
            {% for data in marquee_data %}
                <td>
                    <b>H :</b>  $<font color="green"> {{ data['high_24h'] }} </font>
                </td>
            {% endfor %}
            </tr>
            <tr>
            {% for data in marquee_data %}
                <td>
                     <b>L :</b>  $<font color="red"> {{ data['low_24h'] }} </font>
                </td>
            {% endfor %}
            </tr>
            <tr>
            {% for data in marquee_data %}

                {% if data['price_change_percentage_24h'] > 0 %}
                <td>
                 <b>24h :</b> %<span style="color:green">{{ "{:.2f}".format(data['price_change_percentage_24h']) }}</span> <span style="color:green">&#11205;</span>
                </td>
                {% endif %}
                {% if data['price_change_percentage_24h'] < 0 %}
                <td>
                 <b>24h</b> %<span style="color:red">{{ "{:.2f}".format(data['price_change_percentage_24h']) }}</span> <span style="color:red">&#11206;</span>
                </td>
                {% endif %}

            {% endfor %}
            </tr>
            <tr>
            {% for data in spreads %}

                {% if data['7d change'] > 0 %}
                <td>
                 <b>7d :</b> %<span style="color:green">{{ "{:.2f}".format(data['7d change']) }}</span> <span style="color:green">&#11205;</span>
                </td>
                {% endif %}
                {% if data['7d change'] < 0 %}
                <td>
                 <b>7d :</b> %<span style="color:red">{{ "{:.2f}".format(data['7d change']) }}</span> <span style="color:red">&#11206;</span>
                </td>
                {% endif %}

            {% endfor %}
            </tr>
            <tr>
            {% for data in spreads %}

                {% if data['30d change'] > 0 %}
                <td>
                 <b>30d :</b> %<span style="color:green">{{ "{:.2f}".format(data['30d change']) }}</span> <span style="color:green">&#11205;</span>
                </td>
                {% endif %}
                {% if data['30d change'] < 0 %}
                <td>
                 <b>30d :</b> %<span style="color:red">{{ "{:.2f}".format(data['30d change']) }}</span> <span style="color:red">&#11206;</span>
                </td>
                {% endif %}

            {% endfor %}
            </tr>
            <tr>
            {% for data in spreads %}

                {% if data['90d change'] > 0 %}
                <td>
                 <b>90d :</b> %<span style="color:green">{{ "{:.2f}".format(data['90d change']) }}</span> <span style="color:green">&#11205;</span>
                </td>
                {% endif %}
                {% if data['90d change'] < 0 %}
                <td>
                 <b>90d :</b> %<span style="color:red">{{ "{:.2f}".format(data['90d change']) }}</span> <span style="color:red">&#11206;</span>
                </td>
                {% endif %}

            {% endfor %}
            </tr>
            <tr>
            {% for data in marquee_data %}
                <td>
                     <b>Rank :</b> # {{ data['market_cap_rank'] }}
                </td>
            {% endfor %}
            </tr>
        </table>
    </marquee>



    <img src="https://alternative.me/crypto/fear-and-greed-index.png" alt="Latest Crypto Fear & Greed Index" width=30% height=30% /><br>
    <b>Crypto Fear and Greed Index Historic Values</b><br>
    <img src="data:image/png;base64, {{ fng }}" class='img-fluid' alt='Responsive Image' width=100% height=auto>

<table>
    <tr>
            <b>Market Capitalization for the Top 15</b>

        <th>
            <img src="data:image/png;base64, {{ p }}" class='img-fluid' alt='Responsive Image' width=100% height=auto>
        </th>
        <th>
            <img src="data:image/png;base64, {{ p2 }}" class='img-fluid' alt='Responsive Image' width=100% height=auto>
        </th>
    </tr>
    <tr>
        <th>

        </th>
    </tr>
    <tr>
        <th>
                <h3>Cumulative Returns for the Top 15</h3>
        </th>
    </tr>
    <tr>
        <th>
            <img src="data:image/png;base64, {{ cumprod_no }}" class='img-fluid' alt='Responsive Image' width=100% height=auto>
        </th>
        <th>
            <img src="data:image/png;base64, {{ cumprod_bar_no_shib_doge }}" class='img-fluid' alt='Responsive Image' width=100% height=auto>
        </th>
    </tr>
    <tr>
        <th>
            <img src="data:image/png;base64, {{ cumprod_no_sl }}" class='img-fluid' alt='Responsive Image' width=100% height=auto>
        </th>
        <th>
            <img src="data:image/png;base64, {{ cumprod_bar_no_shib }}" class='img-fluid' alt='Responsive Image' width=100% height=auto>
        </th>
    </tr>
    <tr>
        <th>
            <img src="data:image/png;base64, {{ cumprod }}" class='img-fluid' alt='Responsive Image' width=100% height=auto>
        </th>
        <th>
            <img src="data:image/png;base64, {{ cumprod_bar }}" class='img-fluid' alt='Responsive Image' width=100% height=auto>
        </th>
    </tr>
    <tr>
        <th>
            <img src="data:image/png;base64, {{ mb }}" class='img-fluid' alt='Responsive Image' width=100% height=auto>
        </th>
        <th>
            <img src="data:image/png;base64, {{ mb2 }}" class='img-fluid' alt='Responsive Image' width=100% height=auto>
        </th>
    </tr>
    <tr>
        <th>
            <img src="data:image/png;base64, {{ doge_cret }}" class='img-fluid' alt='Responsive Image' width=100% height=auto>
        </th>
        <th>
            <img src="data:image/png;base64, {{ shiba_cret }}" class='img-fluid' alt='Responsive Image' width=100% height=auto>
        </th>
    </tr>
    <tr>
        <th>
            <h3>Returns for the Top 15</h3>
        </th>
    </tr>
    <tr>
        <th>
            <img src="data:image/png;base64, {{ returns_shib }}" class='img-fluid' alt='Responsive Image' width=100% height=auto>
        </th>
        <th>
            <img src="data:image/png;base64, {{ returns_bars_shib }}" class='img-fluid' alt='Responsive Image' width=100% height=auto>
        </th>
    </tr>
    <tr>
        <th>
            <img src="data:image/png;base64, {{ returns_multi_bars_shib }}" class='img-fluid' alt='Responsive Image' width=100% height=auto>
        </th>
        <th>
            <img src="data:image/png;base64, {{ returns_multi_bars_shib2 }}" class='img-fluid' alt='Responsive Image' width=100% height=auto>
        </th>

    </tr>
    <tr>
        <th>
            <img src="data:image/png;base64, {{ returns }}" class='img-fluid' alt='Responsive Image' width=100% height=auto>
        </th>
        <th>
            <img src="data:image/png;base64, {{ daily_b }}" class='img-fluid' alt='Responsive Image' width=100% height=auto>
        </th>
    </tr>
    <tr>
        <th>
            <img src="data:image/png;base64, {{ mb3 }}" class='img-fluid' alt='Responsive Image' width=100% height=auto>
        </th>
        <th>
            <img src="data:image/png;base64, {{ mb4 }}" class='img-fluid' alt='Responsive Image' width=100% height=auto>
        </th>
    </tr>
    <tr>
        <th>
            <form>
             <input type="submit" name="submit_button" value="Daily" formmethod="post">
             <input type="submit" name="submit_button" value="Weekly" formmethod="post">
             <input type="submit" name="submit_button" value="Bi-Weekly" formmethod="post">
             <input type="submit" name="submit_button" value="Monthly" formmethod="post">
             <input type="submit" name="submit_button" value="Quarterly" formmethod="post">
             <input type="submit" name="submit_button" value="Bi-Annual" formmethod="post">
             <input type="submit" name="submit_button" value="Annual" formmethod="post">
            </form>
        </th>
        <th>

        </th>
    </tr>

</table>

{% endblock %}

</body>
</html>
